/* Default table styles */

	table {
	width: 100%;
	border-collapse: collapse;
	font-size: 15px;
	
	}

	th, td {
	font-size: 13px;
	padding: 8px;
	border-style: none;
	border: 0px solid #ddd;
	}
	tr {

	min-height: 5px;
	height: 5px;
	}

	/* Responsive table styles */
	@media screen and (max-width: 768px) {
	table {
		font-size: 15px;
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	th, td {
		font-size: 13px;
		white-space: normal;
		display: table-cell;
		text-align: left;
	}
	
	}


